<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xyzq.kid.logic.book.dao.BookMapper">
  <resultMap id="BaseResultMap" type="com.xyzq.kid.logic.book.dao.po.Book">
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="TicketId" jdbcType="INTEGER" property="ticketid" />
    <result column="BookStatus" jdbcType="VARCHAR" property="bookstatus" />
    <result column="BookDate" jdbcType="VARCHAR" property="bookdate" />
    <result column="BookTime" jdbcType="VARCHAR" property="booktime" />
    <result column="UserId" jdbcType="INTEGER" property="userid" />
    <result column="CreateTime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="LastUpdateTime" jdbcType="TIMESTAMP" property="lastupdatetime" />
    <result column="SmsNotified" jdbcType="VARCHAR" property="smsnotified" />
    <result column="SmsContent" jdbcType="VARCHAR" property="smscontent" />
    <result column="BookTimeId" jdbcType="INTEGER" property="booktimeid" />
    <result column="DeleteFlag" jdbcType="VARCHAR" property="deleteflag" />
    <result column="NotifiedTime" jdbcType="TIMESTAMP" property="notifiedtime" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, TicketId, BookStatus, BookDate, BookTime, UserId, CreateTime, LastUpdateTime, 
    SmsNotified, SmsContent, BookTimeId, DeleteFlag, NotifiedTime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from LGC_Book
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from LGC_Book
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.xyzq.kid.logic.book.dao.po.Book">
    insert into LGC_Book (ID, TicketId, BookStatus, 
      BookDate, BookTime, UserId, 
      CreateTime, LastUpdateTime, SmsNotified, 
      SmsContent, BookTimeId, DeleteFlag, 
      NotifiedTime)
    values (#{id,jdbcType=INTEGER}, #{ticketid,jdbcType=INTEGER}, #{bookstatus,jdbcType=VARCHAR}, 
      #{bookdate,jdbcType=VARCHAR}, #{booktime,jdbcType=VARCHAR}, #{userid,jdbcType=INTEGER}, 
      #{createtime,jdbcType=TIMESTAMP}, #{lastupdatetime,jdbcType=TIMESTAMP}, #{smsnotified,jdbcType=VARCHAR}, 
      #{smscontent,jdbcType=VARCHAR}, #{booktimeid,jdbcType=INTEGER}, #{deleteflag,jdbcType=VARCHAR}, 
      #{notifiedtime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.xyzq.kid.logic.book.dao.po.Book">
    insert into LGC_Book
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="ticketid != null">
        TicketId,
      </if>
      <if test="bookstatus != null">
        BookStatus,
      </if>
      <if test="bookdate != null">
        BookDate,
      </if>
      <if test="booktime != null">
        BookTime,
      </if>
      <if test="userid != null">
        UserId,
      </if>
      <if test="createtime != null">
        CreateTime,
      </if>
      <if test="lastupdatetime != null">
        LastUpdateTime,
      </if>
      <if test="smsnotified != null">
        SmsNotified,
      </if>
      <if test="smscontent != null">
        SmsContent,
      </if>
      <if test="booktimeid != null">
        BookTimeId,
      </if>
      <if test="deleteflag != null">
        DeleteFlag,
      </if>
      <if test="notifiedtime != null">
        NotifiedTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="ticketid != null">
        #{ticketid,jdbcType=INTEGER},
      </if>
      <if test="bookstatus != null">
        #{bookstatus,jdbcType=VARCHAR},
      </if>
      <if test="bookdate != null">
        #{bookdate,jdbcType=VARCHAR},
      </if>
      <if test="booktime != null">
        #{booktime,jdbcType=VARCHAR},
      </if>
      <if test="userid != null">
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastupdatetime != null">
        #{lastupdatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="smsnotified != null">
        #{smsnotified,jdbcType=VARCHAR},
      </if>
      <if test="smscontent != null">
        #{smscontent,jdbcType=VARCHAR},
      </if>
      <if test="booktimeid != null">
        #{booktimeid,jdbcType=INTEGER},
      </if>
      <if test="deleteflag != null">
        #{deleteflag,jdbcType=VARCHAR},
      </if>
      <if test="notifiedtime != null">
        #{notifiedtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xyzq.kid.logic.book.dao.po.Book">
    update LGC_Book
    <set>
      <if test="ticketid != null">
        TicketId = #{ticketid,jdbcType=INTEGER},
      </if>
      <if test="bookstatus != null">
        BookStatus = #{bookstatus,jdbcType=VARCHAR},
      </if>
      <if test="bookdate != null">
        BookDate = #{bookdate,jdbcType=VARCHAR},
      </if>
      <if test="booktime != null">
        BookTime = #{booktime,jdbcType=VARCHAR},
      </if>
      <if test="userid != null">
        UserId = #{userid,jdbcType=INTEGER},
      </if>
      <if test="createtime != null">
        CreateTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastupdatetime != null">
        LastUpdateTime = #{lastupdatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="smsnotified != null">
        SmsNotified = #{smsnotified,jdbcType=VARCHAR},
      </if>
      <if test="smscontent != null">
        SmsContent = #{smscontent,jdbcType=VARCHAR},
      </if>
      <if test="booktimeid != null">
        BookTimeId = #{booktimeid,jdbcType=INTEGER},
      </if>
      <if test="deleteflag != null">
        DeleteFlag = #{deleteflag,jdbcType=VARCHAR},
      </if>
      <if test="notifiedtime != null">
        NotifiedTime = #{notifiedtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xyzq.kid.logic.book.dao.po.Book">
    update LGC_Book
    set TicketId = #{ticketid,jdbcType=INTEGER},
      BookStatus = #{bookstatus,jdbcType=VARCHAR},
      BookDate = #{bookdate,jdbcType=VARCHAR},
      BookTime = #{booktime,jdbcType=VARCHAR},
      UserId = #{userid,jdbcType=INTEGER},
      CreateTime = #{createtime,jdbcType=TIMESTAMP},
      LastUpdateTime = #{lastupdatetime,jdbcType=TIMESTAMP},
      SmsNotified = #{smsnotified,jdbcType=VARCHAR},
      SmsContent = #{smscontent,jdbcType=VARCHAR},
      BookTimeId = #{booktimeid,jdbcType=INTEGER},
      DeleteFlag = #{deleteflag,jdbcType=VARCHAR},
      NotifiedTime = #{notifiedtime,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectAll" resultMap="BaseResultMap">
  	select * from LGC_Book where deleteFlag='0' order by LastUpdateTime desc
  </select>
  
  <select id="queryBookByCond" parameterType="Map" resultType="com.xyzq.kid.logic.book.dao.po.Book">
   select * from LGC_Book
   where 1=1
   <if test="ticketId != null">
   	and TicketId = #{ticketId}
   </if>
   <if test="userId != null">
   and  UserId = #{userId}
   </if>
   <if test=" status !=null ">
    and BookStatus = #{status}
   </if>
    <if test=" startDate !=null">
  		and CreatTime > #{startDate,jdbcType=TIMESTAMP}
  	</if>
  	<if test=" endDate !=null ">
  		and CreateTime < #{endDate,jdbcType=TIMESTAMP}
  	</if>
    <if test="pageStart != null ">
  		 limit #{pageStart},#{limit} 
  	</if>
    and DeleteFlag = '0'
    order by LastUpdateTime desc
  </select>
</mapper>