<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xyzq.kid.logic.config.dao.ConfigDAO">
    <select id="select" resultType="ConfigPO">
SELECT *
FROM LGC_Config
WHERE Deleted = 0
ORDER BY ID ASC
    </select>
    <select id="load" resultType="ConfigPO">
SELECT *
FROM LGC_Config
WHERE Deleted = 0 AND Name = #{name}
ORDER BY ID DESC
    </select>
    <update id="update">
UPDATE LGC_Config
SET Content = #{content}, UpdateTime = NOW()
WHERE Deleted = 0 AND Name = #{name}
    </update>
</mapper>

