<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias alias="DemoPO" type="com.xyzq.kid.logic.user.dao.po.DemoPO" />
        <typeAlias alias="RecordPO" type="com.xyzq.kid.logic.record.dao.po.RecordPO" />
    </typeAliases>
    <mappers>
        <mapper resource="config/mybatis/mapper/Demo.xml" />
        <mapper resource="config/mybatis/mapper/Record.xml" />
    </mappers>
</configuration>
